.CocktailsList {
  display: flex;
  flex-direction: column;
}

.CocktailsList-item {
  margin-bottom: 10px;
  padding: 8px;
  display: flex;
  text-decoration: none;
  color: #000;

  background-color: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px 0 rgba(100, 100, 100, 0.25);
}

.CocktailsList-itemImage {
  width: 50px;
  height: 50px;
  margin: -5px 10px -5px -5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.CocktailsList-itemBody {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.CocktailsList-itemHeader {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -5px;
  font-size: 11px;
}

.CocktailsList-itemHeader > div {
  margin-right: 5px;
}

.CocktailsList-itemUnpublished {
  border: 1px solid #ddd;
  padding: 2px;
  border-radius: 2px;
  margin-left: 10px;
  background-color: #dff;
}

.CocktailsList-itemUnpublished.unpublished {
  background-color: #fdd;
}

.CocktailsList-ratingIcon {
  width: 13px;
  height: 13px;
}

.CocktailsList-itemName {
  /*font-weight: bold;*/
}