.AddCocktail label {
  width: 100%;
  margin-bottom: 5px;
}

.AddCocktail textarea {
  resize: vertical;
}

.AddCocktail input[type='text'], .AddCocktail textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fbfbfb;
}

.AddCocktail-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px 1px rgba(100, 100, 100, 0.25);
}

.AddCocktail-ingredients {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.AddCocktail-ingredients > div {
  display: flex;
  margin-bottom: 10px;
}

.AddCocktail-ingredients > div :last-child {
  margin-right: 0;
}

.AddCocktail-ingredients > div > input {
  flex-grow: 1;
  margin-right: 5px;
}

.AddCocktail-ingredients > div > input:first-child {
  max-width: calc(50% - 29px);
}

.AddCocktail-removeIngredientBtn {
  display: inline-block;
  font-size: 0;
  width: 29px;
  min-width: 29px;
  height: 29px;
  background: url(../../assetts/images/remove.svg) 50% 50% no-repeat;
  background-size: auto 60%;
  border: none;
  outline: none;
  cursor: pointer;
}

.AddCocktail-removeIngredientBtn:active {
  background-size: auto 58%;
}

.AddCocktail-addIngredientBtn, .AddCocktail-submitBtn, .AddCocktail-image button {
  align-self: flex-start;
  padding: 5px 12px;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  outline: none;
}

.AddCocktail-submitBtn {
  font-weight: bold;
}

.AddCocktail-addIngredientBtn:active, .AddCocktail-submitBtn:active, .AddCocktail-image button:active {
  transform: scale(0.98);
  background-color: #eee;
  border-color: #c7c7c7;
}

.AddCocktail-image span {
  font-size: 12px;
  margin-left: 5px;
}

.AddCocktail-image input {
  position: absolute;
  z-index: -99999;
  opacity: 0;
}