.FacebookLogin {
  position: relative;
  display: inline-block;
  background-color: #4267b2;
  padding: 6px 6px 6px 30px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 13px !important;
  font-weight: bold;
  color: #fff !important;
  cursor: pointer;
}

.FacebookLogin::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../../assetts/images/facebook.svg) 50% 50% no-repeat;
  background-size: auto 100%;
}

.FacebookLogin:active {
  background-color: #3f63ab;
}