.CocktailInfo {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px 1px rgba(100, 100, 100, 0.25);
  padding: 10px;
  position: relative;
}

.CocktailInfo::after {
  content: '';
  display: block;
  clear: both;
}

.CocktailInfo > ul {
  overflow: auto;
  padding-left: 20px;
}

.CocktailInfo-rating {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.CocktailInfo-rating > div > span {
  margin-right: 5px;
}

.CocktailInfo-ratingVotes {
  opacity: 0.3;
}

.CocktailInfo-image {
  display: block;
  float: left;
  width: 30%;
  min-width: 160px;
  max-width: 300px;
  border: 1px solid #ddd;
  margin: 0 10px 10px 0;
}

.CocktailsInfo-ratingIcon {
  height: 18px;
  width: 18px;
}

.CocktailInfo h2 {
  font-size: 28px;
}

.CocktailInfo h4 {
  margin: 10px 0;
}

.CocktailInfo p {
  white-space: pre-wrap;
  margin: 0;
}

.CocktailInfo li, .CocktailInfo p {
  line-height: 22px;
}

.CocktailInfo-deleteBtn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  text-decoration: underline;
  padding: 3px;
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.3;
}

.CocktailInfo-deleteBtn:hover {
  opacity: 1;
}